#root .selector-wrapper {
  max-width: 700px;
}
#root .selector-wrapper p {
  padding: 10px 10px 0;
}

#root .characterSelectorContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
}

#root .characterButton {
  background-color: transparent;
  border-color: transparent;
  padding: 0.1rem .3rem;
  margin: 0px 2px;
  color: #ffc000;
  font-weight: normal;
}

#root .characterButton:hover, #root .characterButton:active, #root .characterButton:focus {
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
  color: #ffc000;
}

#root .selectedCharacterButton {
  background-color: transparent;
  border-color: #ffc000;
  padding: 0.1rem .3rem;
  margin: 0px;
  color: #ffc000;
  font-weight: 600;
}

#root .selectedCharacterButton:hover, #root .selectedCharacterButton:active, #root .selectedCharacterButton:focus {
  background-color: transparent;
  border-color: #ffc000;
  color: #ffc000;
}
