#root div.difficultySelector {
  display:  flex;
  margin:  0;
  justify-content: center;
  width:  300px;
}

#root button.difficulty, #root button.difficulty:focus, #root button.auto, #root button.auto:focus {
  display: flex;
  background-color: transparent;
  border-color: transparent;
  height: fit-content;
  border-width: 2px;
  outline: none;
  padding: 2px;
  margin: 0px 2px;
}

#root button.difficulty:hover, #root button.difficulty:active, #root button.auto:hover, #root button.auto:active {
  border-color: #ffc000;
}

#root button.difficultySelected, #root button.difficultySelected:focus, #root button.autoSelected, #root button.autoSelected:focus {
  border-color: #ffc000;
}

#root button.autoSelected:hover, #root button.autoSelected:active {
  background-color: #E3EBF2;
}

#root button.difficultyAutoSelected, #root button.difficultyAutoSelected:focus {
  border-color: #404040;
  border-style: dashed;
}

#root button.difficultyAutoSelected:hover, #root button.difficultyAutoSelected:active {
  border-style: solid;
}


#root img.difficulty, #root img.auto {
  height: 36px;
  margin: 0px;
}
