#root img.shareImage {
  height:  36px;
  background-color: #F5F5F5;
}

#root div.shareButton {
  display: flex;
  margin: 0;
}

#root button.shareButton, #root button.shareButton:focus {
  display: flex;
  padding: 2px;
  background-color: transparent;
  border-color: #ffc000;
  height: fit-content;
  border-width: 2px;
  outline: none;
}

#root button.shareButton:hover, #root button.shareButton:active {
  background-color: #E3EBF2;
}
