#root .skillContainer{
  position: absolute;
  width: 19.7%;
  height: 14.45%;
}
#root .skillContainer.row1{
  top: 3.3%;
}
#root .skillContainer.row2{
  top: 18.7%;
}
#root .skillContainer.row3{
  top: 34.3%;
}
#root .skillContainer.row4{
  top: 49.8%;
}
#root .skillContainer.row5{
  top: 65.4%;
}
#root .skillContainer.row6{
  top: 81%;
}
#root .skillContainer.column1{
  left: 4.82%;
}
#root .skillContainer.column2{
  left: 26.3%;
}
#root .skillContainer.column3{
  left: 47.9%;
}
#root .skill, #root .skill:focus {
  position: absolute;
  backdrop-filter: brightness(60%);
  width: 77%;
  height:  77%;
  border-radius: 2px;
  background-color: transparent;
  border-color: transparent;
  z-index: 1;
  outline: none;
}
#root .skill:hover, #root .skill:active {
  border-radius: 2px;
  border-width: 3px;
  background-color: transparent;
  border-color:  linen;
  box-shadow: 0 0 6px linen;
  outline: none;
}


#root button.currentSkill, #root button.currentSkill:focus {
  border-color: linen;
  backdrop-filter: brightness(80%);
  border-width: 2px;
  box-shadow: 0 0 6px linen;
  outline: none;
}
#root button.currentSkill:hover, #root button.currentSkill:active {
  border-width: 3px;
}

#root button.allocated, #root button.allocated:focus {
  backdrop-filter: none;
}

#root button.synergy, #root button.synergy:focus {
  border-color: #598AB1;
  border-width:  2px;
  box-shadow: 0 0 6px #598AB1;
  outline: none;
}

#root button.invalid, #root button.invalid:focus {
  border-color: #D45113;
  border-width:  2px;
  box-shadow: 0 0 6px #D45113;
  outline: none;
}

#root button.requirement, #root button.requirement:focus {
  border-color: linen;
  border-width:  1px;
  backdrop-filter: brightness(80%);
  box-shadow: 0 0 6px linen;
  outline: none;
}

#root button.requirement.synergy, #root button.requirement.synergy:focus {
  box-shadow: inset 0 0 6px 2px #598AB1, 0 0 6px linen;
}

#root button.requirement.invalid, #root button.requirement.invalid:focus {
  box-shadow: inset 0 0 6px 2px #D45113, 0 0 6px linen;
}

#root button.currentSkill.invalid, #root button.currentSkill.invalid:focus {
  border-color:  linen;
  border-width: 2px;
  box-shadow: inset 0 0 6px 2px #D45113, 0 0 6px linen;
}

#root button.currentSkill.invalid:hover, #root button.currentSkill.invalid:active {
  border-width: 3px;
}

#root button.bonusMode, #root button.bonusMode:focus {
  backdrop-filter: blur(2px) brightness(60%);
  border-color: transparent;
  box-shadow: none;
  color: #EDBA47;
  font-size: 20pt;
  font-weight: bold;
  padding: 0px;
}

#root button.bonusMode:hover, #root button.bonusMode:active {
  border-color: #EDBA47;
  box-shadow: 0 0 6px #EDBA47;
}

#root button.bonusMode.currentSkill, #root button.bonusMode.currentSkill:focus {
  border-width: 2px;
  border-color: #EDBA47;
}

#root button.bonusMode.currentSkill:hover, #root button.bonusMode.currentSkill:active {
  border-width: 3px;
}

#root button.bonusMode.requirement, #root button.bonusMode.requirement:focus {
  box-shadow: none;
}

#root .skillPoints {
  position:  absolute;
  text-align: center;
  border-color: transparent;
  margin:  0px;
  bottom: 0px;
  right:  1px;
  font-weight: bold;
  font-size: 11pt;
  padding:  0;
  width:  28%;
  height:  28%;
}
#root .skillPoints:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px linen;
  border-color: transparent;
}
#root .skillPoints:active {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #EDBA47;
}

/* Hide Number input arrows:  Chrome, Safari, Edge, Opera */
#root input::-webkit-outer-spin-button,
#root input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide Number input arrows:  Firefox */
#root input[type=number] {
  -moz-appearance: textfield;
}
