#root .tooltipContainer {
  margin-top: 1em;
  width: 29em;
  padding: 0;
  margin-bottom: 2em;
}
@media (max-width: 600px) {
  #root .tooltipContainer {
    width: 100%;
  }
}
#root .skillPreamble {
  margin-bottom: 1em;
}
#root .skillName, #root .skillLongName {
  margin-top:  0px;
  margin-bottom:  .2em;
}
#root .levelHeader, #root .synergyHeader {
  font-size: 14pt;
  margin-top: .5em;
  margin-bottom: .2em;
}
#root ul {
  list-style-type: none;
  padding: 2px;
  margin-bottom:  0;
}
#root ul.dsc3 > li {
  background: rgba(19, 20, 22, 0.4);
  border: 1px solid #ffc000;
}
#root li {
  background: rgba(19, 20, 22, 0.4);
  border: 1px solid #ffc000;
  margin: .5em;
  padding-left:  .5em;
  padding-right: .5em;
  font-size:  11pt;
}
#root p.skillLongName {
  width:  fit-content;
  padding-right: .5em;
  padding-left:  1em;
  white-space: pre-wrap;
  font-size:  11pt;
  font-style:  italic;
  background:  transparent;
}
