#root .treeWithOptionsContainer {
  margin-top: 2em;
}

#root .treeContainer {
  position: relative;
  height: fit-content;
  width: fit-content;
  float: left;
  padding-bottom: 7px;
  padding-left: 2px;
}

#root .tree {
  width: 420px;
  box-shadow: 0 0 8px black;
}
@media (max-width: 600px) {
  #root .tree {
    width: 80vw;
  }
}

#root button.hasBonus, #root input.hasBonus {
  color:  #EDBA47
}

#root button.noBonus, #root input.noBonus {
  color:  linen;
}

#root button.resetButton, #root button.resetButton:focus {
  position: absolute;
  background-color: transparent;
  border-color:  transparent;
  border-radius: 2px;
  top: 88%;
  width: 10%;
  height: 7.4%;
  backdrop-filter: brightness(100%);
}
#root button.resetButton:hover {
  backdrop-filter: brightness(120%);
}
#root button.resetButton:active{
 backdrop-filter: brightness(100%);
}

#root button.resetButton.resetButton1 {
  left:  4.6%;
}

#root button.resetButton.resetButton2 {
  left:  31.2%;
}

#root button.resetButton.resetButton3 {
  left:  53.5%;
}

#root .resetTipText {
  margin: 0;
  padding: 0;
}
